<% title "Create a new account" %>
<% content_for :header do %>
  <h1 class="font-bold font-headings text-neutral-600 dark:text-neutral-100 text-2xl">Create your <strong class="text-primary-700 dark:text-primary-500">Irelia</strong> account</h1>
  <p class="text-neutral-400 dark:text-neutral-200">Enter your email address and a secure password.</p>
<% end %>

<%#= render "devise/shared/social_auth_buttons" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="flex flex-col gap-y-4">
    <div class="bg-white p-5 rounded shadow text-sm flex flex-col gap-y-1.5">
      <div class="flex justify-between">
        <%= f.label :email, class: "text-primary-700 font-bold text-sm uppercase whitespace-nowrap" %>
        <% if resource.errors[:email].present? %>
          <span class="text-rose-500 font-bold text-xs"><%= resource.errors[:email].first.downcase %></span>
        <% end %>
      </div>
      <%= f.email_field :email, placeholder: "Enter your email", autofocus: true, autocomplete: "email", class: "appearance-none p-0 m-0 w-full border-0 focus:ring-0 focus:outline-none bg-white text-neutral-500 hover:text-primary-800 focus:text-primary-800 placeholder-neutral-400" %>
    </div>

    <div class="bg-white p-5 rounded shadow text-sm flex flex-col gap-y-1.5">
      <div class="flex justify-between">
        <%= f.label :password, class: "text-primary-700 font-bold text-sm uppercase whitespace-nowrap" %>
        <% if resource.errors[:password].present? %>
          <span class="text-rose-500 font-bold text-xs"><%= resource.errors[:password].first.downcase %></span>
        <% end %>
      </div>
      <%= f.password_field :password, placeholder: "Enter your password", autocomplete: "current-password", class: "appearance-none p-0 m-0 w-full border-0 focus:ring-0 focus:outline-none bg-white text-neutral-500 hover:text-primary-800 focus:text-primary-800 placeholder-neutral-400" %>
    </div>

    <div class="bg-white p-5 rounded shadow text-sm flex flex-col gap-y-1.5">
      <div class="flex justify-between">
        <%= f.label :password_confirmation, class: "text-primary-700 font-bold text-sm uppercase whitespace-nowrap" %>
        <% if resource.errors[:password_confirmation].present? %>
          <span class="text-rose-500 font-bold text-xs"><%= resource.errors[:password_confirmation].first.downcase %></span>
        <% end %>
      </div>
      <%= f.password_field :password_confirmation, placeholder: "Confirm your password", autocomplete: "current-password", class: "appearance-none p-0 m-0 w-full border-0 focus:ring-0 focus:outline-none bg-white text-neutral-500 hover:text-primary-800 focus:text-primary-800 placeholder-neutral-400" %>
    </div>
  </div>

  <div class="form-actions mt-8 flex items-center justify-between gap-4">
    <div class="buttons-group items-center">
      <%= f.submit "Create account", class: "bg-primary-700 hover:bg-primary-800 dark:bg-primary-600 dark:hover:bg-primary-500 cursor-pointer text-white rounded shadow appearence-none font-bold px-8 py-3" %>
    </div>
    <div class="text-sm dark:text-neutral-200">
      <p>Already have an account? <%= link_to "Sign in!", new_user_session_path, class: "font-bold text-primary-700 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-400 transition" %>
    </div>
  </div>
<% end %>